
@import 'fonts';

#header {
  background-color: #444;
  //background: url('../img/background-crs5.jpg') no-repeat center center fixed;
  //background-size: cover;
  
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  
  align-items: center;

  .logo {
    display: block;

    margin-top: 24px;
    
    img {
      background-color: #44658b;
      
      background: url('../cover/cover-alpha-tiny.jpg') no-repeat;
      background-size: 100% 100%;
      display: block;
      max-width: 90px;
    }
  }

  .download.pdf {

    margin: 0 auto;

    img, h1 {
      display: block;
      max-width: 50vh;

      margin: 24px 0;
      
      border-radius: 1px;

      box-shadow: 0 1px 10px rgba(black, 0.2), 0 10px 40px rgba(black, 0.4);
    }
    
    img {
      margin-bottom: 0;
    }

    h1 {
      background-color: #dd8664;

      text-align: center;

      color: white;
      @include font-title(24px);
      
      padding: 24px 64px;
    }
    
  }

  .docs {
    color: #aaa;
    text-decoration: underline;
    margin-bottom: 24px;
    @include font-title(24px);
  }
  
}

@media screen and (min-width: 800px) {
  
  #header .logo {
    position: absolute;
    top: 0;
    left: 24px;
  }
  
}
